body {padding: 0px; margin: 0px;}
a {color: #029ada; text-decoration: none;}
header {background: #f9fce5; text-align: center; border-bottom: 1px solid #c3c3c0;}
.subhead {padding:5px; background: #e2e8e2; color: #5fac65; font-weight:bold; font-size: 16px; text-align: center;}
.content {width: 100%; max-width: 720px; margin: 0px auto; background: #f4f8f4;}
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #BDBDBD;
}

.wrapper {
  max-width: 500px;
  width: 98%;
  margin: 5px auto;
  background: #eceff1;
  padding: 0 0 1rem;
  position: relative;
}

.form-header {
  background: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #212121;
  padding: 1rem;
  margin: 0 0 1rem;
  position: relative;
}
.form-header .close {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  color: #cfd6db;
  cursor: pointer;
  -webkit-transition: color .2s ease;
          transition: color .2s ease;
}
.form-header .close:hover {
  color: #212121;
}

.form-grp {
  margin: 0 8px 10px;
}
.form-grp label {
  display: block;
  margin: 5px;
  font-weight: 700;
  letter-spacing: .2px;
  font-size: 14px;
  color: #212121;
}
.form-grp label.inline {
  display: inline-block;
  width: 100px;
}
.form-grp label.inline.right {
  text-align: right;
  padding-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px 5px;
  border-radius: 4px;
  outline: 0;
  color: #212121;
  font-size: 17px;
  width: 100%;
  border: 1px solid #b0bec5;
}

input[type="submit"] {
cursor:pointer;
  padding: 6px 12px;
  margin: 5px 0 0;
  outline: 0;
  border: 0;
  background: #2196f3;
  border-radius: 4px;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .25px;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}
input[type="submit"]:hover {
  background: #39a1f4;
}
 .label {
    display: block;
    margin: 0 0 3px;
    font-weight: 500;
    letter-spacing: .2px;
    font-size: .875rem;
    color: #212121; border-top: 1px solid #a3b0b6;
    }
.bmenu { color: #65d56d; background: #e1fbe3; padding: 6px; border: 1px solid #57fa63;}
.footer {color: #f0f4f0; background: #2f2f2f; padding: 10px;}

.btn-dload{
    display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #b7d770;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background: -moz-linear-gradient(top,  #cae285, #9fcb57);
    border-color: #adc671 #98b65b #87aa4a;
    color: #5d7731;
    text-shadow: 0 1px 0 #cfe5a4;
    -webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    -moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}
.btn-dload:hover{
    background: #b9d972;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background: -moz-linear-gradient(top,  #b8d872, #b9d972);
    border-color: #8bb14d #83a648 #7d9e45;
    text-shadow: 0 1px 0 #d5e8aa;
    -webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    -moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}