<div class="form">
    <h2>ARM</h2>
    <form action="?action=arm" method="POST">
        <select name="format">
            <option value="wav">wav</option>
            <option value="flac">flac</option>
        </select>
        <input type="submit" value="Ändern" />
    </form>
</div>