<div class="form">
    <h2>fStab</h2>
    <form action="?action=fstab" method="POST">

        <input type="text" name="server" placeholder="Host" />
        <input type="text" name="path" placeholder="Pfad" />
        <fieldset>
            <legend>Anmelde Informationen</legend>
            <input type="text" name="username" placeholder="Benutzername" />
            <input type="text" name="password" placeholder="Passwort" />
        </fieldset>
        <!--
        <fieldset>
            <legend>Anmelde Informationen</legend>
            <input type="text" name="credentials_file" placeholder="Credentials File" />
        </fieldset>
        -->
        <input type="submit" value="Ändern" />
    </form>
</div>