<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>set WiFi Password</title>
        <link href="/static/style.css" rel="stylesheet">
        <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
        <script rel="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    </head>
    <body>
    {{ request.msg }}

    <div class="grid">
        {{ modules }}
    </div>

        <script type="text/javascript" src="/static/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>