@font-face {
    font-family: "Rubik-Light";
    src: url("/static/rubik/Rubik-Light.ttf");
}
@font-face {
    font-family: "Rubik";
    src: url("/static/rubik/Rubik-Regular.ttf");
}


*, body{
    font-family: 'Rubik', sans-serif;
    background: #0a0b0b;
}

.header{
    text-align: center;
    font-family: 'Rubik-Light', sans-serif;
    font-weight: lighter;
}
.header h2{
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 25px;
    font-family: 'Rubik-Light', sans-serif;
    color: #ffffff;
}

.accordion-main{
    background: #0a0b0b;
    padding: 7% 0;
    margin: 15px 0 ;
    color: #ffffff;
}

h3.accordion-header, .accordion-main>div{
    height:auto;
    max-width: 50%;
    margin: 15px auto;
    display: block;
}

h3 {
    outline:none;
}

h3.accordion-header{
    box-shadow: 0 0 .4px #808080;
    background: #0a0b0b;
    border: 1px solid #dfdfdf;
    margin: auto;
    padding: 20px 15px;
    font-size: 1.5rem;
}

h3:active{
    border: none;
}

.accordion.accordion-frame-item {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    cursor: pointer;
    color: #ffffff;
}

.accordion-arrow {
    font-size: 3em!important;
    float: left;
    position: absolute;
    margin: 0 5px 0 10px;
    color: #ffffff;
}


.margins {
    margin: 20px 0 0 0!important;
}
.show-data {
    display: block!important;
    opacity: 1!important;
}
.form {
    height: auto;
    margin-top: 10px;
    color: #ffffff;
}
.form > form{
    display: none;
    opacity: 0;
    width: 80%;
    margin: 0 auto;
}
.form > form:active {
    -webkit-transition: all 2s;
    transition: all 2s;
}
.form > .acordion-inner-frame {
    margin-top: 20px;
}
.form h2 {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
   /* color: #797979;*/
    font-size: 1.3em;
    font-weight: 100;
    margin: 14.9px 0 14.9px 40px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select,
.form button
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #ffffff;
}
.form textarea{
    resize:none;
    overflow: hidden;
}
.form input[type="button"], .form button,
.form input[type="submit"]{
    /*
    -moz-box-shadow: inset 0px 1px 0px 0px #000;
    -webkit-box-shadow: inset 0px 1px 0px 0px #000;
    box-shadow: inset 0px 1px 0px 0px #000; */
    background-color: #ffa500;
    border: none; /* 1px solid #27A0A0;*/
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.form input[type="button"]:hover, .form button:hover,
.form input[type="submit"]:hover {
    /* background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);*/
    background-color: #535353;
}

.check-title{
    font-weight: bold;
}

.check-value{
    float: right;
}

fieldset{
    border-color: #fafafa;
    margin:10px -10px 10px -10px;
    color: #ffffff;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}
.info-msg {
    color: #059;
    background-color: #BEF;
}
.success-msg {
    color: #ffa500;
    background-color: #DFF2BF;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}



/*
-------------------------------------
 */
.accordion-main  .ui-state-active{
    border-color: #3f3f3f;
    background: transparent;
    color:#ffa500;

}
.arrow-icon-d, .arrow-icon-u{
    background-image: url("/static/images/mbri-arrow-down.svg");
    background-size: cover;
    height: 35px;
    position: relative;
    display:inline-block;
    width: 35px;
    margin: 0 20px 0 15px;
    bottom: -6px;
    color: #ffffff;
}

.arrow-icon-u{
    transform: rotate(-90deg);
}

.line{
    background-color: #000;
    color: #000;
    text-align: center;
    height: 2px;
    margin: 15px auto;
    max-width: 250px;
}

.status-messages{
    max-width: 100%;
    margin: auto;
    text-align: center;
}


.outer-space-bar{
    width: 100%;
    height:50px;
    position:relative;
    border:1px solid black;
    margin-bottom:60px;
}

.inner-space-bar{
    height:100%;
    position:relative;
    background-color: #ffa500;
    /* border-right:1px solid black; */
}

.spacebar-marker {
    height:30px;
    width:100px;
    left:-1px;
    position:absolute;
    padding-top:10px;
    /* border-left: 1px solid black; */
    top:50px;
}

.inner-space-size-marker, .outer-space-max-size-marker{
    right: -101px;
    left: initial;
    margin-left: 100px;
}