<!--<div class="accordion accordion-inner-frame">
    <i class="fa fa-angle-right accordion-arrow" aria-hidden="true"></i>
    <div class="accordion accordion-frame-item">
        <div class="form">-->
<h3 class="accordion-header toggle-fstab">NAS Anbindung</h3>
<div>
    <form action="?action=fstab" method="POST">

        <input type="text" name="server" placeholder="Host/IP" />
        <input type="text" name="path" placeholder="Pfad" />
        <fieldset>
            <legend>Anmelde Informationen</legend>
            <input type="text" name="username" placeholder="Benutzername" />
            <input type="password" name="password" placeholder="Passwort" />
        </fieldset>
        <!--
        <fieldset>
            <legend>Anmelde Informationen</legend>
            <input type="text" name="credentials_file" placeholder="Credentials File" />
        </fieldset>
        -->
        <input type="submit" value="Ändern ud speichern" />
    </form>
</div>
       <!-- </div>
    </div>
</div>-->