<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Musikserver Einstellungen</title>
    <link href="./static/style.css" rel="stylesheet">
    <link href="./static/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h2>Musikserver<br>
            Einstellungen</h2>
    </div>
    <div id="accordion" class="accordion-main form">
                    {{ modules }}
    </div>
    <div class="status-messages-container" style="position:fixed;top:20px;right:50px;">
        <hr class="line" />
        <div class="status-messages">
            {{ request.msg }}
        </div>
        <hr class="line" />
    </div>
    <script rel="text/javascript" src="../static/jquery.js"></script>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        window.setTimeout(function(){
            $(".status-messages-container").fadeOut()
        }, 5000);

        $(function () {


             var icons = {
             header: "arrow-icon-d",
             activeHeader: "arrow-icon-u"
             };
            $("#accordion").accordion({
                collapsible: true,
                icons: icons,
                active: false,
                heightStyle: "content"
            });
        });
    </script>
    <script type="text/javascript" src="/static/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>

</body>
</html>
