<!--<div class="accordion accordion-inner-frame">
    <i class="fa fa-angle-right accordion-arrow" aria-hidden="true"></i>
    <div class="accordion accordion-frame-item">-->

<h3 class="accordion-header toggle-network">WLAN Einstellungen</h3>
<div>
    <form action="?action={{ module_name }}" method="POST">
        {{ status }}
        <input type="submit" value="An/Ausschalten" name="toggle" style="float:right;">
        <input type="text" name="ssid" placeholder="WiFi SSID" />
        <input type="password" name="password" placeholder="Passwort" />
        <input type="submit" value="speichern" />
    </form>
</div>
  <!--  </div>
</div>-->
