<!--<div class="accordion accordion-inner-frame">
    <i class="fa fa-angle-right accordion-arrow" aria-hidden="true"></i>
    <div class="accordion accordion-frame-item">
        <div class="form">-->
<h3 class="accordion-header toggle-system_ctl">System CTL</h3>
<div>
    <form action="?action=system_ctl" method="POST">
        Create AP <input type="submit" name="create_ap" value="Toggle"/>
    </form>
</div>
        <!--</div>
    </div>
</div>-->