<!--<div class="accordion accordion-inner-frame">
    <i class="fa fa-angle-right accordion-arrow" aria-hidden="true"></i>
    <div class="accordion accordion-frame-item">
        <div class="form">-->
<h3 class="accordion-header toggle-upmpd_highresaudio">HighResAudio Upnp</h3>
<div>
    <form action="?action={{ module_name }}" method="POST">

        Status: {{ status }}
        <input type="submit" value="An/Ausschalten" name="toggle" style="float:right;">

        <input type="text" name="user" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Ändern" />
    </form>
</div>
       <!-- </div>
    </div>
</div>-->
