<!--<div class="accordion accordion-inner-frame">
    <i class="fa fa-angle-right accordion-arrow" aria-hidden="true"></i>
    <div class="accordion accordion-frame-item">
        <div class="form">-->
<h3 class="accordion-header toggle-upmpd_tidal">Tidal UpnP</h3>
<div>
    <form action="?action={{ module_name }}" method="POST">

        Status: {{ status }}
        <input type="submit" value="An/Ausschalten" name="toggle" style="float:right;">

        <input type="text" name="user" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />

        <select name="quality">
            <option value="false">Bitte wählen</option>
            <option value="lossless">Verlustfreie Qualität</option>
            <option value="high">Hohe Qualität</option>
            <option value="low">Niedrige Qualität</option>
        </select>

        <input type="submit" value="Ändern" />
    </form>
</div>
       <!-- </div>
    </div>
</div>-->
